{% extends 'base.html' %}

{% block title %}
<div class="h1">ログイン</div>
{% endblock %}

{% block content %}
  <style>
    .kokuban-s2 {
      position: relative;
      margin: 2em auto;
      padding: 1em;
      width: 90%; /* ボックス幅 */
      background: #006633; /* ボックス背景色 */
      color: #fff; /* 文章色 */
      border: 8px solid #b2771f; /* 枠線 */
      border-radius: 3px; /* 角の丸み */
      box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
    }

    .kokuban-s2::before,
    .kokuban-s2::after {
      position: absolute;
      content: ”;
      bottom: 0;
    }

    .hidden {
      display: none;
  }
  </style>
  <div class="kokuban-s2">
    <form action="{% url 'account_login' %}" method="post"> {# ここを修正 #}
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
        <br>
      {% endfor %}
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">ログイン</button>
        <a href="{% url 'accounts:index' %}" class="btn btn-secondary">戻る</a>
      </div>
      <p class="mt-3">
        <a href="{% url 'account_reset_password' %}">パスワードを忘れた方はこちら→</a>
      </p>
    </form>
  </div>
{% endblock %}
