<style>
  .kokuban-s2 {
  position: relative;
  margin: 2em auto;
  padding: 1em;
  width: 90%; /* ボックス幅 */
  background: #006633; /* ボックス背景色 */
  color: #fff; /* 文章色 */
  border: 8px solid #b2771f; /* 枠線 */
  border-radius: 3px; /* 角の丸み */
  box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
  }
  .kokuban-s2::before,
  .kokuban-s2::after {
  position: absolute;
  content: ”;
  bottom: 0;
  }
</style>
<div class="kokuban-s2">
{% extends "base.html" %}

{% block headertitle %}
  パスワードリセット（メール送信）
{% endblock %}

{% block content %}
<form action="" method="POST">
<p>パスワードリセットのメールを送信しました。
<br/>
メールに記載されているリンクからパスワードの再設定を行ってください。
<br/>
<br/>
<br/>
<a class="btn btn-primary col-4" href="{% url 'account_login' %}">ログイン画面へ</a>
</p>
</form>
{% endblock %}
</div>