{% include 'header.html' %}
<h1>作成メニュー画面</h1>
<form action="既存の年度を取得するpy" method="post">
    <input type="submit" value="新規アルバムの年度入力">
</form>
<form action="教員情報を取得するpy" method="post">
    <input type="submit" value="教員情報の掲載登録">
</form>
<form action="教員情報と生徒情報を取得するpy" method="post">
    <input type="submit" value="クラス写真の確認">
</form>
<form action="追加画面へ遷移" method="post">
    <input type="submit" value="イベント写真の追加">
</form>
<form action="添付画面へ遷移" method="post">
    <input type="submit" value="動画の添付">
</form>
{% include 'footer.html' %}