{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>graduation album</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
      /* a タグのスタイルを変更 */
      a {
      text-decoration: none; /* アンダーラインを消す */
      color: black; /* 文字色を黒に設定 */
      }
  </style>
  </head>

  <body>
    <header>
      <div class="header">
        <h1 class="header_h1"><a href="../top">卒アル作成サイトだよ♡</a></h1>
      </div>
    </header>
