{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://sotsukenalbum.s3.amazonaws.com/media/static/css/styles.css">
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="menu-icon" onclick="toggleMenu()"><img src="https://sotsukenalbum.s3.amazonaws.com/media/static/images/メニューマーク.jpg" width="35px" height="35px" alt="Image"></div>
        <div class="header">
        <h1 class="header_h1"><a href="{% url 'app_album:top' %}">卒アル作成サイトだよ♡</a></h1>
      </div>
        <div class="user-icon">
          <a href="{% url 'app_album:profile' %}" class="user-icon">
            <img src="https://sotsukenalbum.s3.amazonaws.com/media/static/images/User-Icon.jpg" width="35px" height="35px" alt="Image"/>

            <!-- #にプロフィール関係の処理が書いてあるものを追加 -->
            <!-- ここにユーザーアイコンの画像やアイコンの処理を追加 -->
          </a>
        </div>
        <a href="{% url 'accounts:logout' %}" class="logout-btn">ログアウト</a>
      </div>

      <div class="menu-content" id="menuContent">
        <a href="{% url 'app_album:view' %}">閲覧</a>
        <a href="{% url 'app_album:notice' %}">連絡</a>
        <a href="{% url 'app_album:event_addition' %}">写真追加</a>
        <a href="{% url 'app_album:video_addition' %}">動画追加</a>
      </div>

      <script>
        function toggleMenu() {
          var menuContent = document.getElementById("menuContent");
          menuContent.style.display =
            menuContent.style.display === "block" ? "none" : "block";
        }
      </script>
    </header>
  </body>
</html>
