{% include 'header.html' %}
<div class="password_change">
  <div class="password_reset-style">
    <h1>パスワード再設定</h1>
    <!-- ユーザー認証情報があれば表示 -->
    <p>新しいパスワードを入力してください。</p>
    <form method="post" action="#">
      <!-- 新しいパスワード -->
      <div class="new_password_form">
        <label for="id_new_password">新しいパスワード:</label>
        <input type="password" name="new_password1" required />
      </div>
      <!-- パスワード確認 -->
      <div class="new_password_comfirm_form">
        <label for="id_new_password_confirm">新しいパスワード（確認用）:</label>
        <input type="password" name="new_password2" required />
      </div>
      <!-- フォーム送信ボタン -->
      <button class="passreset-btn" type="submit">変更</button>
    </form>
  </div>
</div>
{% include 'footer.html' %}
