{% include 'header.html' %}
<div class="teacher_registration">
  <h1>教員登録</h1>
  <p>
    アイコン写真<br />
    <input type="file" name="profile_picture" accept="image/*" />
  </p>
  <p>
    名前<br />
    <input type="text" name="teacher_name" />
  </p>
  <p>
    学校コード<br />
    <input type="number" name="school_code" />
  </p>
  <p>
    メールアドレス<br />
    <input type="email" name="mailaddress" />
  </p>
  <p>
    パスワード<br />
    <input
      type="password"
      id="passwordField"
      name="password"
      placeholder="英大小数文字含む8以上16以下"
    />
  </p>
  <p>
    パスワード確認<br />
    <input
      type="password"
      id="passwordConfirmField"
      name="password_confirm"
      placeholder="パスワード確認"
    />
  </p>
</div>
{% include 'footer.html' %}
